@font-face {
  font-family: "iconfont"; /* Project id 3356445 */
  src: url('iconfont.woff2?t=1650855945956') format('woff2'),
       url('iconfont.woff?t=1650855945956') format('woff'),
       url('iconfont.ttf?t=1650855945956') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuyue:before {
  content: "\e623";
}

.icon-anquansuo:before {
  content: "\e624";
}

.icon-baobiaoxiazai:before {
  content: "\e625";
}

.icon-chaqi:before {
  content: "\e626";
}

.icon-baobiao:before {
  content: "\e627";
}

.icon-daka:before {
  content: "\e628";
}

.icon-buka:before {
  content: "\e629";
}

.icon-chuchashenqing:before {
  content: "\e62a";
}

.icon-chazuo:before {
  content: "\e62b";
}

.icon-dawu:before {
  content: "\e62c";
}

